<article class="first-entry home-info">
    <img class="avatar" style="width: 128px; height: 119px; border-radius: 50%; elevation: 50deg; box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));" src="/img/dk-small.webp"/>
    <br>
    <header class="entry-header">
        <h1>{{ "Hi \U0001F44B" | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>I'm Dinesh, a software engineer, currently working at <a href="https://www.jio.com/" target="BLANK">Jio Platforms</a> as Team Lead.</p>
        <br>
        <p>I <a href="/projects">develop</a>, <a href="/posts">write</a> and <a href="/talks">speak</a> about android, kotlin and mulitplatform.</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
